@font-face
   font-family Arquitecta
   font-style light
   src url(assets/light.otf)

gris = #1A1A1A
rojo = #E32143

*
	font-family: 'Arquitecta', sans-serif;
	box-sizing: border-box;
	text-transform uppercase

html, body
	height 100%
	width 100%

body
	margin 0
	padding 0
	font-size 16px
	font-family: 'Open Sans', sans-serif;

p, h1, h2, h3
	padding 0
	margin 0
	
& #load
	background gris
	height 100%
	position absolute 
	top 0
	left 0
	width 100%
	z-index 6
	& #content-loader
		position absolute
		top 50%
		left 50%
		margin-top -120px
		margin-left -70px
		width 300px
		& .indicator-percent
			border 4px solid whitesmoke
			border-radius 50%
			color whitesmoke
			text-align center
			line-height 180px
			height 180px
			font-size 3.3em
			width 180px

#menu-index
	position fixed
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	top 0
	left 0
	height 100%
	width 100%
	& li
		height 100%
		position relative
		list-style none
		width 50%
		& a
			text-shadow 1px 1px 2px rgba(0, 0, 0, .55)
			text-decoration none
			color white
			font-size 1.6em
			letter-spacing: 1px;
			line-height 200px
			text-align center
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: 200px;
			margin-top: -100px;
			margin-left: -35%;
	& .video
		transition all .6s ease-in-out
		&:hover
			background rgba(0, 0, 0, .65)
		& a:hover .video
			background rgba(0, 0, 0, .95)
	& .photo
		transition all .6s ease-in-out
		&:hover
			background rgba(0, 0, 0, .65)

.fondo
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	
.bg-contact
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;

.logo-home
	position absolute
	margin 0 auto
	left 0
	right 0
	top 25%

.cortina
	cursor pointer
	display none
	background rgba(0, 0, 0, .65)
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	z-index 15

.show
	background white
	display none
	position absolute
	top 0
	left 0
	right 0
	margin 4em auto
	max-width 960px
	z-index 15
	& .close
		position absolute
		top .1em
		color rojo
		font-size 1.5em
		right .2em
	& img
		padding 1.5em
		width 100%

#navigation
	background white
	position fixed
	top 0
	left 0
	width 100%
	z-index 4
	& .logo
		max-width 140px
		position absolute 
		top .6em
		left .5em
		& img
			width 100%
	& .content
		margin 0 auto
		padding .4em 0
		text-align right
		width 93%
		& .menu-admin
			display none
			box-shadow 2px 2px 8px rgba(0, 0, 0, .35)
			background white
			position fixed
			top 3em
			right 4.5em
			z-index 100
			& li
				padding 0
				display block
				text-align left
				& a
					text-align left
					padding .6em 1.3em
					display block
					color gris
					text-decoration none
					&:hover
						background gris
						color white
		& li
			cursor pointer
			list-style none
			display inline-block
			padding .4em
			& .unselected
				color #DADDE2
			& span
				font-size 1.4em
				color #373737
				transition all 250ms ease-in-out
				&:hover
					color rojo
	
#menu
	display none
	background rgba(0, 0, 0, .95)
	height 100%
	position fixed
	top 0
	right 0
	width 50%
	z-index 20
	& .close-menu
		cursor pointer
		position absolute
		top 1.4em
		right 1.5em
		color white
		font-size 1.8em
		font-weight bold
		transition all .7s ease
		&:hover
			color rojo
	& .content
		position absolute
		top 30%
		text-align center
		left 0px
		right 0px
		& li
			list-style none
			padding .8em 0
			width 100%
			& a
				color white
				text-decoration none
				font-size 1.7em
				transition all 250ms ease-in-out
				&:hover
					border-bottom 3px solid white

#photography
	padding-top 5.5em
	width 100%
	& .category
		width 100%
		& ul
			margin 0 auto
			max-width 800px
			& li
				display inline-block
				list-style none
				margin .4em 1em
				& a
					color gris
					text-decoration none
	& .gallery
		padding .5em
		width 100%
		& .content
			margin 0 auto
			-moz-column-count: 3;
			-moz-column-gap: 3px;
			-moz-column-fill: auto;
			-webkit-column-count: 3;
			-webkit-column-gap: 3px;
			-webkit-column-fill: auto;
			column-count: 3;
			column-gap: 3px;
			column-fill: auto;
			padding 2em 0
			width 95%
			& .row
				-moz-column-break-inside: avoid;
				-webkit-column-break-inside: avoid;
				column-break-inside: avoid;
				position relative
				box-sizing border-box
				padding .5em 
				width 100%
				&:hover .bottons
					background white
					& a
						color gris
						&:nth-child(2)
							border-left 1px solid gris
				& .bottons
					width 100%
					background gris
					margin 0
					z-index 3
					position relative
					& a
						color white
						text-decoration none
						font-size 1.3em
						display inline-block
						text-align center
						padding .5em 0
						width 50%
						&:nth-child(2)
							border-left 1px solid white
				& img
					display block
					cursor pointer
					width 100%
				& .description
					cursor pointer
					opacity 0
					padding .5em 0
					position absolute
					bottom 0
					left 0
					height 100%
					width 100%
					background rgba(0, 0, 0, .55)
					color white
					line-height auto
					text-align center
					& h1
						margin-top 3em
						font-weight normal
						font-size 1.2em
						width 100%
						padding .2em 16px
					& hr
						border 1.5px solid white
						width 40px
						margin .4em auto
					& p
						font-weight 300
						width 100%
						padding .2em 16px
	& .gallery-small
		display none
		padding .5em
		width 100%
		& .content
			margin 0 auto
			-moz-column-count: 6;
			-moz-column-gap: 3px;
			-moz-column-fill: auto;
			-webkit-column-count: 6;
			-webkit-column-gap: 3px;
			-webkit-column-fill: auto;
			column-count: 6;
			column-gap: 3px;
			column-fill: auto;
			padding 2em 0
			width 95%
			& .row
				-moz-column-break-inside: avoid;
				-webkit-column-break-inside: avoid;
				column-break-inside: avoid;
				position relative
				box-sizing border-box
				padding .5em 
				width 100%
				&:hover .bottons
					background white
					& a
						color gris
						&:nth-child(2)
							border-left 1px solid gris
				& .bottons
					width 100%
					background gris
					margin 0
					z-index 3
					position relative
					& a
						color white
						text-decoration none
						font-size 1.3em
						display inline-block
						text-align center
						padding .5em 0
						width 50%
						&:nth-child(2)
							border-left 1px solid white
				& img
					display block
					cursor pointer
					width 100%
				& .description
					cursor pointer
					opacity 0
					padding .5em 0
					position absolute
					bottom 0
					left 0
					height 100%
					width 100%
					background rgba(0, 0, 0, .55)
					color white
					line-height auto
					text-align center
					& h1
						margin-top 3em
						font-weight normal
						font-size 1.2em
						width 100%
						padding .2em 16px
					& hr
						border 1.5px solid white
						width 40px
						margin .4em auto
					& p
						font-weight 300
						width 100%
						padding .2em 16px
	& .add-photo
		color gris
		display block
		border 2px solid gris
		background none
		font-size 1.2em
		text-decoration none
		text-align center
		padding .5em .8em
		margin 0 auto
		transition all 300ms ease-in-out
		width 250px
		&:hover
			color rojo
			display block
			border 2px solid rojo
	& .title
		color gris
		font-weight normal
		font-size 1.6em
		padding .6em 2em
	& .form-photography
		padding 2em 0
		width 100%
		& .content
			max-width 960px
			margin 0 auto
			& form
				& .field
					& input[type="text"]
						border 2px solid gris
						padding .5em 1em
						font-size 1.1em
						margin 1em 0
						width 100%
					& textarea
						border 2px solid gris
						padding .5em 1em
						font-size 1.1em
						margin 1em 0
						height 200px
						width 100%
				& .field-select
					padding-bottom 2em
					& h4
						color gris
						margin 0
					& select
						cursor pointer
						background none
						border 2px solid gris
						padding .5em 1em
						font-size 1.1em
						border-radius none
						-webkit-appearance: none;
						width 100%
				& .field-file
					position relative
					margin 1em 0
					height 80px
					& span
						background gris
						color white
						padding .66em 1em
						width 100%
						z-index 10
					& input[type="file"]
						position absolute
						top 0
						left 0
						margin 0
						padding 0
						font-size 20px
						cursor pointer
						padding .5em
						opacity 0
						margin-top -10px
						width 100%
					& #uploadFile
						display inline-block
						border 2px solid gris
						padding .5em 1em
						text-align center
						font-size 1.1em
						margin-top -11px
						position absolute
						top 0
						left 0
						width 100%
						z-index -10
				& .actions
					& input[type="submit"]
						color gris
						display block
						border 2px solid gris
						background none
						font-size 1.2em
						text-decoration none
						text-align center
						padding .5em .8em
						margin 0 auto
						transition all 300ms ease-in-out
						width 250px
						transition all 300ms ease-in-out
						&:hover
							color rojo
							display block
							border 2px solid rojo

.contact
	position absolute
	top 15%
	right 0
	left 0
	margin 0 auto
	color white
	max-width 400px
	text-align center
	& h1
		text-shadow 1px 1px 1px rgba(0, 0, 0, .35)
		font-weight 300
		margin .5em 0
	& p
		text-shadow 1px 1px 1px rgba(0, 0, 0, .35)
		margin .7em 0
		font-size 1.1em

#form-sign
	margin-top 4em
	padding 5em 0
	width 100%
	& form
		max-width 700px
		margin 0 auto
		text-align center
		& input[type="email"], input[type="password"]
			background white
			border 2px solid gris
			outline none
			padding .5em 1em
			box-sizing border-box
			font-size 1.1em
			color gris
			margin 1em 0
			width 100%
		& input[type="submit"]
			border 2px solid gris
			color gris
			outline none
			background none
			padding .5em 1em
			font-size 1.1em
			cursor pointer
			transition all .6s ease
			margin-top 1em
			&:hover
				background gris
				color white

.logo-responsive
	display none
	position absolute
	top 1em
	left 0
	right 0
	margin 0 auto
	width 70%
		

#category
	padding-top 5.5em
	width 100%
	& .add-category
		color gris
		display block
		border 2px solid gris
		background none
		font-size 1.2em
		text-decoration none
		text-align center
		padding .5em .8em
		margin 0 auto
		transition all 300ms ease-in-out
		width 200px
		&:hover
			color rojo
			display block
			border 2px solid rojo
	& .title
		color gris
		font-weight normal
		font-size 1.6em
		padding .6em 2em
	& .added
		padding 4em 0
		width 100%
		& .content
			max-width 960px
			margin 0 auto
			& .row
				border 2px solid gris
				display inline-block
				margin .8em 1em
				& .controls
					background gris
					padding .3em 0
					width 100%
					& a
						display inline-block
						color white
						text-decoration none
						text-align center
						width 49%
						&:nth-child(2)
							border-left 1px solid white
				& .name
					padding 1em
	& .form-category
		padding 2em 0
		width 100%
		& .content
			max-width 960px
			margin 0 auto
			& form
				& .field
					& label
						text-transform lowercase
					& input[type="text"]
						border 2px solid gris
						padding .5em 1em
						font-size 1.1em
						margin 1em 0
						width 100%
				& .actions
					padding 1em 0
					& input[type="submit"]
						cursor pointer
						color gris
						display block
						border 2px solid gris
						background none
						font-size 1.2em
						text-decoration none
						text-align center
						padding .5em .8em
						margin 0 auto
						transition all 300ms ease-in-out
						width 250px
						transition all 300ms ease-in-out
						&:hover
							color rojo
							display block
							border 2px solid rojo

@media screen and (max-width : 1000px)

	#photography
		& .gallery
			& .content
				margin 0 auto
				-moz-column-count: 2;
				-moz-column-gap: 10px;
				-moz-column-fill: auto;
				-webkit-column-count: 2;
				-webkit-column-gap: 10px;
				-webkit-column-fill: auto;
				column-count: 2;
				column-gap: 5px;
				column-fill: auto;
				width 95%
		& .gallery-small
			& .content
				margin 0 auto
				-moz-column-count: 4;
				-moz-column-gap: 10px;
				-moz-column-fill: auto;
				-webkit-column-count: 4;
				-webkit-column-gap: 10px;
				-webkit-column-fill: auto;
				column-count: 4;
				column-gap: 5px;
				column-fill: auto;
				width 95%
				
@media screen and (max-width : 900px)

	.logo-responsive
		display block
		
	.logo-home
		display none

@media screen and (max-width : 600px)
	
	#menu-index li a
		font-size 1.1em

	#photography
		& .gallery
			& .content
				margin 0 auto
				-moz-column-count: 1;
				-moz-column-gap: 10px;
				-moz-column-fill: auto;
				-webkit-column-count: 1;
				-webkit-column-gap: 10px;
				-webkit-column-fill: auto;
				column-count: 1;
				column-gap: 5px;
				column-fill: auto;
				width 95%
		& .gallery-small
			& .content
				margin 0 auto
				-moz-column-count: 2;
				-moz-column-gap: 10px;
				-moz-column-fill: auto;
				-webkit-column-count: 2;
				-webkit-column-gap: 10px;
				-webkit-column-fill: auto;
				column-count: 2;
				column-gap: 5px;
				column-fill: auto;
				width 95%



