<% @title = "| ochoymedio |" %>

<!-- <div id="load">
    <section id="content-loader">
        <div id="percent-value" class="indicator-percent">0%</div>
    </section>
</div> -->

<nav id="menu-index">
	<li class="video">
		<a href="">VÍDEO</a>
	</li><li class="photo">
		<a href="/photographies">FOTOGRAFÍA</a>
	</li>
</nav>

<%= image_tag "logo-responsive.png", :class => "logo-responsive" %>
<%= image_tag "prueba2.jpg", :class => "fondo" %>
<%= image_tag "logo-full.png", :class => "logo-home" %>
