<%= image_tag "contacto.jpg", :class => "bg-contact" %>

<div class="contact">
	<h1>CONTACTO</h1>
	<p>dirección: 5 de febrero edificio gs #301B tercer piso durango, dgo.</p>
	<p>correo: contacto@ochoymedio.mx</p>
	<p>telefóno: 618.138.41.23</p>
</div>
